html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #e9ebee !important;
    height: 100%;
    font-size: 14px;
    margin-bottom: 60px;
    color: #000;
}

#app {
    min-height: 100%;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar-brand {
    padding: 0;
    padding-left: 10px;
}

.mydatatable, .services-table{
    font-size: 14px !important;
    border-radius: 3px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .select2-search input[type=text][disabled], .select2-search input[type=text][readonly], fieldset[disabled] .select2-search input[type=text] {
    color: #34495e;
}

.navbar-nav > li > a {
    padding: 15px;
}

#messages-container .panel-heading {
    padding: 5px 15px;
}

#messages-container .panel-heading strong {
    font-size: 15px;
}

#messages-container .panel-heading .text-muted {
    font-size: 15px;
}

.breadcrumb {
    font-size: 12px;
    padding: 3px 15px;
    border-radius: 0;
    background-color: #fff;
    margin-top: -10px !important;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
}

.no-padding {
    padding: 0 !important;
}

.text-bold {
    font-weight: bold;
}

.form-heading-padding {
    padding-left: 60px;
}

.panel-body {
    padding: 10px;
}

.dataTables_info {
    font-size: 14px;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom: none;
}

.form-control, .select2-search input[type=text] {
    padding: 5px;
    height: 30px;
    border: 1px solid #bdc3c7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding-right: 0 !important;
    margin-bottom: 0;
}

.form-horizontal .control-label {
    padding-top: 2px;
    padding-bottom: 2px;
}

.help-block {
    margin-bottom: 0 !important;
}

.form-group {
    position: relative;
    margin-bottom: 10px;
}

.login-form .form-control, .select2-search input[type=text] {
    padding: 5px;
    height: 30px;
    border: 1px solid #bdc3c7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pagination li > a, .pagination li > span {
    min-height: 25px;
    line-height: 10px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.loader {
    width: auto;
    height: 20px;
    background: url('../img/spin.svg');
    background-size: 20px 20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}

.alert {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 5000;
    padding: 7px;
    border-radius: 0;
    border-color: #ddd;
}

.nav-bar-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.nav-bar-footer li {
    display: inline-block;
}

#heroImage {
    overflow: hidden;
}

#heroImage img {
    width: 100%;
    height: 100%;
}

.btn{
    padding: 7px 12px;
}

.navbar-default {
    background-color: #0073b7;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited {
    color: rgba(255, 255, 255, 0.90);
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-nav > li > a {
    font-weight: normal;
    font-size: 14px;
}

.navbar-default .navbar-nav > .dropdown > a,
.navbar-default .navbar-nav > .dropdown > a:visited,
.navbar-default .navbar-nav > .dropdown > a:focus {
    color: rgba(255, 255, 255, 0.90);
}

.navbar-default .navbar-nav > .dropdown > a .caret,
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: rgba(255, 255, 255, 0.90);
    border-bottom-color: rgba(255, 255, 255, 0.90);
}

.navbar {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25) !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:visited {
    color: #fff;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.dropdown-menu, .select2-drop {
    background-color: #fff;
}

.dropdown-menu > li > a:hover {
    background-color: #f5f5f5;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
}

.tile {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
}

.login-form {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    padding: 15px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #0073b7;
    border-color: #367fa9;
}

.login-form .login-field:focus {
    border-color: #0073b7;
}

a,
a:active,
a:focus,
a:hover {
    color: #0073b7;
}

.login-link:hover {
    color: #0073b7;
}

input[type=text]:focus,
.form-control:focus {
    border-color: #0073b7;
}

.panel {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
}

.pagination li.active > a, .pagination li.active > span, .pagination li.active > a:hover, .pagination li.active > span:hover, .pagination li.active > a:focus, .pagination li.active > span:focus {
    background-color: #0073b7;
}

.icon-bar:hover, .icon-bar:focus {
    color: #fff;
}

#footer-menu {
    text-align: center;
    list-style-type: none;

}

#footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

#footer-menu li a {
    color: #0073b7;
    font-size: 14px;
}

#footer-menu li a:hover {
    text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.90);
}

.pagination li > a, .pagination li > span {
    margin-left: 0;
}

pre {
    border: none;
    background-color: transparent;
}

.fieldset-outline {
    border: 1px solid #bdc3c7;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

legend {
    margin-bottom: 0;
}

.tile-title {
    font-size: 18px;
    margin: 0;
}

h4, .h4 {
    font-size: 25px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 5px;
    font-size: 11px;
}
.btn-xs.btn [class^=fui-]{
    font-size: 13px;
}

.pagination li.previous > a, .pagination li.next > a, .pagination li.previous > span, .pagination li.next > span {
    font-size: 13px;
    padding: 10px;
}

.pagination li > a, .pagination li > span {
    padding: 10px;
    min-width: 33px;
    line-height: 7px;
    font-size: 13px;
}

.form-control, .select2-search input[type=text] {
    padding: 0px;
    height: 25px;
}

select.input-sm, select.form-group-sm .form-control, select.form-group-sm .select2-search input[type=text], select.select2-search input[type=text] {
    height: 25px;
    line-height: 25px;
}

.dataTables_info {
    font-size: 13px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
}

.btn-delete-record{
    margin-left: -3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.mtn10 {
    margin-top: -10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

@media (max-width:767px) {
    .pagination {
        height:27px;
        padding:0 55px 0 52px;
        overflow:auto;
        white-space:nowrap;
        border-radius:6px
    }
}

#main-login .form-group{
    margin-bottom: 20px;
}

td.actions-td{
    width: 100px;
    padding-left:0 !important;
    padding-right: 0 !important;
    vertical-align: middle !important;
}



.wysiwyg-color-black {
    color: black !important;
}

.wysiwyg-color-silver {
    color: silver !important;
}

.wysiwyg-color-gray {
    color: gray !important;
}

.wysiwyg-color-maroon {
    color: maroon !important;
}

.wysiwyg-color-red {
    color: red !important;
}

.wysiwyg-color-purple {
    color: purple !important;
}

.wysiwyg-color-green {
    color: green !important;
}

.wysiwyg-color-olive {
    color: olive !important;
}

.wysiwyg-color-navy {
    color: navy !important;
}

.wysiwyg-color-blue {
    color: blue !important;
}

.wysiwyg-color-orange {
    color: orange !important;
}

.status-pending {
    background-color: #9E9E9E !important;
    color: white !important;
    padding: 2px 5px;
    border-radius: .25em;;
}
.status-completed,.status-partial {
    background-color: #8BC34A !important;
    color: white !important;
    padding: 2px 5px;
    border-radius: .25em;
}

.status-cancelled, .status-stopped {
    background-color: #F44336 !important;
    color: white !important;
    padding: 2px 5px;
    border-radius: .25em;
}
.status-inprogress, .status-active,
.status-processing{
    background-color: #2196F3 !important;
    color: white !important;
    padding: 2px 5px;
    border-radius: .25em;
}

.status-refunded{
    background-color: gray !important;
    color: white !important;
    padding: 2px 5px;
    border-radius: .25em;
}

.no-word-break{
    white-space: nowrap !important;
}

.p0{
    padding:0 !important;
}
.m0{
    margin:0 !important;
}